body{
     background-color:lightblue;

} 

h1{
   color:blue;
   text-align:center;

}
#btn_black{
     color:black;
     
   
}
#btn_red{
     color:red;

}
#btn_blue{
     color:blue;

}
#btn_yellow{
     color:;

}
img{
    background-color:black;


}
#light{
     

}




